@import "./tailwind.config.css";
@import "./stripe-styles.css";

:root {
  --foreground-rgb: 0, 0, 0;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}*/

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground-rgb);
  background-color: var(--color-gray-50);
}

button {
  cursor: pointer;
}

.skip-main {
  height: 1px;
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
  z-index: -9999;

  &:focus,
  &:active {
    background-color: white;
    color: blue;
    font-size: 1.4em;
    height: auto;
    left: 0;
    margin: 10px;
    overflow: auto;
    padding: 5px;
    top: 0;
    width: auto;
    z-index: 9999;
  }
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

.hide-scrollbar {
  scrollbar-width: none;
}
.tab-buttons{ @apply bg-consumer-blue rounded-full px-1.5 text-white text-sm font-semibold;}